version: '3'
services:
  web:
    build:
      context: .
    ports:
      - "81:80"
    volumes: 
      - ${PWD}/nginx/conf.d/api-gateway.conf:/etc/nginx/conf.d/api-gateway.conf
  mock:
    build:
      context: ./tests
    expose:
      - "443"
    networks:
      default:
        aliases: 
          - service1
          - service2
          - service3
